{% extends 'base.html.twig' %}

{% block title %}Pedido - {{ order.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1>{{ order.number }}</h1>
                </div>
            </div>
        </div>
        <a href="{{ path('orders.index') }}">Voltar</a>
    </div>
{% endblock %}
